.Rproj.user
.Rhistory
.RData
.Ruserdata
.site_libs
./attachments/PeDecURe.png
./attachments/SPICE_figure.png
./attachments/XYA.png
.index.Rmd
.my_website.Rproj
.research.Rmd
.research.html
.cv.html
.cv.Rmd